.banner__titulo{
    color: #ffffff;
    font-family: 'Source Sans 3', sans-serif;
    position: absolute;
    text-align: left;
    left: 10%;
    top: 30%;
}
@media screen and (min-width:0) {
    .banner__titulo{
        font-size: 2rem;
    }
}
@media screen and (min-width:768px) {
    .banner__titulo{
        font-size: 5rem;
    }
}